.content {
  background-color: white;
  position: relative;
  padding-left: 35%;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;

  box-shadow: 0 30px 60px -12px rgb(155, 129, 129);
}
img {
  position: absolute;
  top: -15%;
  left: 2%;
  width: 20%;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.link a {
  margin-bottom: 5px;
  font-size: 30px;
  color: #2c2c2c;
  text-decoration: none;
}
